body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f0f0;
  /* overflow-x: hidden; */
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
}


.principal{
  display:flex;
  justify-content:center;
  align-items:center;
}

.contenedor {
  background-color: #aeafaf;
  border-radius: 10px;
  margin: 10px 0;
  padding: 20px;
  width: 50%;
  /* position: relative; */
  /* left: 25%; */
  
  
}

h2 {
  text-align: center;
}


.form-group {
  margin-bottom: 15px;
  
  
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 50%;
  height: 20px;
  
}

input:focus{
  background-color: rgb(185, 210, 248);
}

button[type="submit"] {
  padding: 10px 10px;
  background-color:#4c2cff;
  color: #fff;
  border: solid 1px black;
  border-radius: 5px;
  cursor: pointer;
  width: 28%; 
  font-weight: bold;
  display:block;
  
  
}

button[type="submit"]:hover{
  background-color:#2602f5 ;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

footer{
  background-color: #333;
  color:white;
  font-weight:bold;
  padding: 10px;
  margin-top:auto;
  text-align: center;
}

/*ESTILO MOVIL*/
@media (max-width: 768px){
  
     
  .contenedor{
    background-color:rgb(222, 230, 222);
    border:double 5px rgb(75, 5, 240);
    margin: 3em;
    width: -webkit-fill-available;
  }

  h2{
    text-align:center;
    font-size:1.5em;
    margin-bottom:2em;
  }
  label{
    font-size:1.3em;
  }
  .form-group {
    margin-bottom:3.5em;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width:100%;
    height:1.5em;
    font-size:1.5em;
  }
  input:focus{
    background-color:rgb(248, 250, 145);
    border:solid 2px rgb(94, 255, 0);
    color:rgb(37, 37, 37);
  }
  button[type="submit"]{
    width:100%;
    font-size:1.5em;
    padding:12px 12px;
    margin-left:5px;
    margin-top:1em;
    
  }
}